.commentairenote {
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16vh;
}
.commentairenote h1 {
  color: #301f17;
}
.commentairenote .commentrating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
