.bienvenue-container {
  color: #301f17;
  text-align: center;
  font-family: 'Inknut Antiqua';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bienvenue-container p {
  color: #301f17;
}
.info-container2 input {
  font-family: Inknut Antiqua;
  width: 130px;
  height: 30px;
  margin-left: 20px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 2px solid #301f17;
  flex-shrink: 0;
}
.info-container2 p:first-of-type {
  margin-left: 10px;
  color: #000;
  font-family: 'Inknut Antiqua';
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info-container2 p {
  margin-left: 50px;
  color: #3c3c3c;
  font-family: 'Inknut Antiqua';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.info-container2 {
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 4px solid #301f17;
  background: #d9d9d9;
}
.info-container2 button {
  margin-left: 900px;
  border-radius: 10px;
  border: 2px solid #301f17;
  width: 140px;
  height: 35px;
  flex-shrink: 0;
  background: #987157;
  color: #fff;
  text-align: center;
  font-family: 'Inknut Antiqua';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
/* Styles pour la superposition lorsque le formulaire est ouvert */
.modifier-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(152, 113, 87, 0.8); /* Fond semi-transparent */
  z-index: 1; /* Doit être supérieur à z-index de tous les autres éléments */
}

/* Styles pour le conteneur du formulaire */
.modifier-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Doit être supérieur à z-index de la superposition */
}

/* Styles pour le formulaire lui-même */
.modifier-form {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9; /* Couleur de fond du formulaire */
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.modifier-form label {
  font-size: 2.5vh;
  font-weight: 400;
  padding: 1vh;
}
.modifier-form input {
  border: 1px solid #0c0a0a;
  color: #0c0a0a;
  font-weight: 400;
  font-size: 3vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.button-container .enregistrer button {
  color: #d9d9d9;
  background-color: #b4774e;
}
.button-container .annuler button {
  color: #d9d9d9;
  background-color: #b13636;
}
