.rendezvous-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info {
    flex: 1;
  }
  
  button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  